/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  scroll-behavior: smooth;
}

/* Ini berlaku untuk semua browser */
body {
  scroll-padding-top: 5rem;
}

/* CSS khusus untuk Firefox */
@-moz-document url-prefix() {
  :root {
      scroll-padding-top: 5rem;
  }
}

@layer utilities {
  .prose kbd {
    @apply text-base-content; /* Warna teks dalam kbd */
  }
}
@layer components {
  .prose pre {
    @apply bg-base-200 text-base-content;
  }
  .prose code:not(pre > code) {
    @apply bg-primary text-base-100;
  }
}
